*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial Black', sans-serif;
}

.header-img {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.2));
}

.club-logo {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: auto;
}

.container {
  flex: 1;
  position: relative;
  isolation: isolate;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  text-align: center;
}

.middle-prompt {
  width: 50%;
  margin: auto;
  font-size: 1.5rem;
  transform: translateY(530%);
}

.image-potrait {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-90%);
  width: 150px;
}

.image-handshake {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 150px;
  display: grid;
  place-items: center;
}

.image-ecell {
  position: absolute;
  top: 50%;
  left: 50;
  transform: translateY(-90%);
  width: 150px;
}

.image-potrait, .image-handshake, .image-ecell {
  width: 200px;
  height: 200px;
}

.pes-text-1 {
  font-size: 1.8rem;
}

.pes-text-2 {
  font-size: 1.7rem;
}

.pes-text-3 {
  font-size: 1.5rem;
}

.btn {
  position: absolute;
  top: calc(100% - 5rem);
  min-width: 120px;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  background-color: #f8fafc;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e2e8f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-yes {
  left: 50%;
  transform: translateX(calc(-100% - 1rem));
  z-index: 1;
}

.btn-no {
  left: calc(50% + 1rem);
  transition: all 0.5s ease;
  z-index: 2;
}

.column {
  width: 20%;
  display: inline-block;
}  